__pycache__/
boatrace.code-workspace
boatrace.db
boatrace.db-shm
boatrace.db-wal
Back_up/
/Archive/
/BR/
/BACKUP/
/INBOX/
/Checker/batch_file/
/Management/boatrace_gui.bat
/Management/args_summary/
/Management/API_GUI/backup/
/Management/API_GUI/logs/
/Management/API_GUI/profile.json
/Management/API_GUI/prompts.json
/Management/API_GUI/prompts.txt
/Management/Icon/
/Management/UPLOAD/
/Schema/Individual/
/Schema/Summary_View/
/Schema/UPDATE/
/tmp/
